{% extends "base.html" %}

{% block content %}
<h2>All Albums</h2>
<p><a href="{% url 'add_album' %}">Add Album</a></p>
<p>

<div class="flex">
    {% for album in albums %}
    <div class="w-33 pa3">
        <h3>{{ album.title }}</h3>
        <div class="flex">
            <div class="pr2"><i class="icofont-artist"></i></div>
            <div>{{ album.artist }}</div>

        </div>
    </div>

    <a href="{% url 'album_detail' pk=album.pk %}">More Options</a><br>
    </p>
    {% endfor %}

</div>
{% endblock %}