{% extends "base.html" %}

{% block content %}
<h2 class="subtitle">All Albums</h2>
<p><a href="{% url 'add_album' %}">Add Album</a></p>
<p>

<div class="columns">
    {% for album in albums %}
    <div class="column">
        <h3 class="is-size-3">{{ album.title }}</h3>
        <div>
            <div>{{ album.artist }}</div>
            {% if album.favorite == True %}
            <span class='goldstar'> ☆ </span>
            {% else %}
            <span class='star'> ☆ </span>
            {% endif %}
            <div> </div>
            <a href="{% url 'album_detail' pk=album.pk %}">More Options</a>
        </div>
    </div>


    </p>
    {% endfor %}

</div>
{% endblock %}